*.dll
*.exe
*.lib
*.cab
*.jar
*.war
*.zip
*.rar
*.tar
*.7z
*.gz
*.xz
*.bz2
*.o
*.obj
*.tlog
*.tlh
*.tli
*.pch
*.pdb
*.sdf
*.suo
*.aps
*.ncb
*.opt
*.ibd
*.clw
*.iml
*.log
*.ilk
*.exp
*.bsc
*.cache
*.lastbuildstate
*.DS_Store
*.opensdf
*.settings
workspace.xml
META-INF/
/out
xcuserdata/
target/
.idea/
ipch/
Debug/
Release/
rebel.xml
